{% load static %}



<!-- Header and navbar items from Kerge Template -->

    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="preloader-spinner">
        </div>
      </div>
    </div>

    <!-- /Loading animation -->
    <div id="page" class="page">
      <!-- Header -->
      <header id="site_header" class="header mobile-menu-hide">
        <div class="header-content clearfix">
          <div class="my-photo">
            <img src="{% static 'images/mo-logo-white.png' %}" alt="image">
          </div>

          <div class="site-title-block">
            <div class="site-title">Mo Salam</div>
          </div>

          <!-- Navigation -->
          <div class="site-nav">
            <!-- Main menu -->
            <ul id="nav" class="site-main-menu">
              <li>
                <a  href="{%url 'index:index'%}#about-me">About Me</a><!-- href value = data-id without # of .pt-page. -->
              </li>
              <li>
                <a  href="{%url 'index:index'%}#resume">Resume</a>
              </li>
              <li>
                <a  href="{%url 'projects:projects_index'%}#portfolio">Portfolio</a>
              </li>
              <li>
                <a href="{%url 'blog:blog_index'%}">Blog</a>
              </li>
              <li>
                <a  href="{%url 'contact:contact'%}#contact">Contact</a>
              </li>
            </ul>
            <!-- /Main menu -->
          </div>
          <!-- Navigation -->

          <!-- Social Links -->
          <div class="social-links">
            <a href="https://twitter.com/m7salam" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/m7salam/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/m7salam" target="_blank"> <i class="fab fa-github"></i></a>
          </div>
          <!-- / Social Links -->

          <!-- Copyrights -->
          <div class="copyrights">© 2019 All rights reserved.</div>
          <!-- / Copyrights -->
        </div>
      </header>
      <!-- /Header -->

      <!-- Mobile Header -->
      <div class="mobile-header mobile-visible">
        <div class="mobile-logo-container">
          <div class="mobile-header-image">
            <a href="#">
                <img src="{% static 'images/mo-logo-white.png' %}" alt="image">
            </a>
          </div>
          <div class="mobile-site-title"><a href="#">Alex Smith</a></div>
        </div>

        <a class="menu-toggle mobile-visible">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <!-- /Mobile Header -->

      <!-- Arrows Nav -->
      <div class="lmpixels-arrows-nav">
        <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
        <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
      </div>
      <!-- /Arrows Nav -->
