{% load static %}


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for clean_blog template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for Kerge template -->

    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pages-switcher.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/validator.js' %}"></script>
    <script src="{% static 'js/jquery.shuffle.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBli9sY-7krx0Z1TbAYnRH5J6M9MlE3ejk"></script>
    {% comment %} <script src="https://maps.googleapis.com/maps/api/js"></script> {% endcomment %}
    <script src="{% static 'js/jquery.googlemap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>