{% extends "base.html" %}

{% load static %}
{% block content %}
        <!--
        ===================
            ABOUT
        ===================
        -->


        <!-- home 2 -->
        <section class="mh-home image-bg home-2-img" id="mh-home">
            <div class="img-foverlay img-color-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="mh-page-title text-center col-sm-12">
                            <h2>Blog</h2>
                            <p>It is a long established fact that a reader will be <br>
                            distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mh-blog">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="mh-blog-item bg-white">
                                    <img src="assets/images/b-1.png" alt="" class="img-fluid">
                                    <div class="blog-inner">
                                        <h2><a href="">A life without the daily traffic jams</a></h2>
                                        <div class="mh-blog-post-info">
                                            <ul>
                                                <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                                <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                            </ul>
                                        </div>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="mh-blog-item dark-bg">
                                    <img src="assets/images/b-2.png" alt="" class="img-fluid">
                                    <div class="blog-inner">
                                        <h2><a href="">Love and a sense of proportion</a></h2>
                                        <div class="mh-blog-post-info">
                                            <ul>
                                                <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                                <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                            </ul>
                                        </div>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="mh-blog-item dark-bg">
                                    <img src="assets/images/b-3.png" alt="" class="img-fluid">
                                    <div class="blog-inner">
                                        <h2><a href="">A life without the daily traffic jams</a></h2>
                                        <div class="mh-blog-post-info">
                                            <ul>
                                                <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                                <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                            </ul>
                                        </div>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="mh-blog-item dark-bg">
                                    <img src="assets/images/b-1.png" alt="" class="img-fluid">
                                    <div class="blog-inner">
                                        <h2><a href="">A life without the daily traffic jams</a></h2>
                                        <div class="mh-blog-post-info">
                                            <ul>
                                                <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                                <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                            </ul>
                                        </div>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="mh-blog-item dark-bg">
                                    <img src="assets/images/b-2.png" alt="" class="img-fluid">
                                    <div class="blog-inner">
                                        <h2><a href="">Love and a sense of proportion</a></h2>
                                        <div class="mh-blog-post-info">
                                            <ul>
                                                <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                                <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                            </ul>
                                        </div>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="mh-blog-item dark-bg">
                                    <img src="assets/images/b-3.png" alt="" class="img-fluid">
                                    <div class="blog-inner">
                                        <h2><a href="">A life without the daily traffic jams</a></h2>
                                        <div class="mh-blog-post-info">
                                            <ul>
                                                <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                                <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                            </ul>
                                        </div>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="mh-blog-item dark-bg">
                                    <img src="assets/images/b-1.png" alt="" class="img-fluid">
                                    <div class="blog-inner">
                                        <h2><a href="">A life without the daily traffic jams</a></h2>
                                        <div class="mh-blog-post-info">
                                            <ul>
                                                <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                                <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                            </ul>
                                        </div>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="mh-blog-item dark-bg">
                                    <img src="assets/images/b-2.png" alt="" class="img-fluid">
                                    <div class="blog-inner">
                                        <h2><a href="">Love and a sense of proportion</a></h2>
                                        <div class="mh-blog-post-info">
                                            <ul>
                                                <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                                <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                            </ul>
                                        </div>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                        <a href="">Read More</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 mh-pagination">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mh-blog-sidebar">
                            <div class="sidebar-item mh-author-info">
                                <div class="mh-author-img">
                                    <div class="img-border">
                                        <img src="assets/images/b-author.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <h2>Alex Smith</h2>
                                <h4>Product Designer</h4>
                                <p>
                                    Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit
                                    Quo esse possimus unde nostrum
                                    nesciunt nam dolor veritatis.
                                </p>
                                <ul class="social-icon">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-github"></i></a></li>
                                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                            <div class="sidebar-item mh-blog-category">
                                <h3>Category</h3>
                                <ul>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">Techonology</a></li>
                                    <li><a href="">Food</a></li>
                                    <li><a href="">Travel</a></li>
                                    <li><a href="">Photography</a></li>
                                </ul>
                            </div>
                            <div class="sidebar-item mh-blog-category">
                                <h3>Archive</h3>
                                <ul>
                                    <li><a href="">2018 (10)</a></li>
                                    <li><a href="">Techonology (8)</a></li>
                                    <li><a href="">Food (6)</a></li>
                                    <li><a href="">Travel (8)</a></li>
                                    <li><a href="">Photography (11)</a></li>
                                </ul>
                            </div>
                            <div class="sidebar-item mh-blog-insta">
                                <h3>Instagram</h3>
                                <ul>
                                    <li>
                                        <a href="">
                                            <img src="assets/images/b-1.png" alt="" class="img-fluid">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="assets/images/b-1.png" alt="" class="img-fluid">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="assets/images/b-1.png" alt="" class="img-fluid">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="assets/images/b-1.png" alt="" class="img-fluid">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="assets/images/b-1.png" alt="" class="img-fluid">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="assets/images/b-1.png" alt="" class="img-fluid">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock content %}


{##}
{#  <!-- Page Header -->#}
{#  <header class="masthead blog-list-page" style="background-image: url({% static 'images/home-bg.jpg' %})">#}
{#    <div class="overlay"></div>#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="col-lg-8 col-md-10 mx-auto">#}
{#          <div class="site-heading">#}
{#            <h1>Mo's Blog</h1>#}
{#            <span class="subheading">A Blog Theme by Start Bootstrap</span>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </header>#}
{##}
{#  <!-- Main Content -->#}
{#  <div class="container ">#}
{#    <div class="row ">#}
{#      <div class="col-lg-8 col-md-10 mx-auto">#}
{#        <div class="post-preview">#}
{#        {% for post in posts %}#}
{#          <a href="{% url 'blog:blog_detail' post.pk%}">#}
{#            <h2 class="post-title">#}
{#              {{ post.title }}#}
{#            </h2>#}
{#            <h3 class="post-subtitle">#}
{#              {{ post.body | slice:":400" }}...#}
{#            </h3>#}
{#          </a>#}
{#          <p class="post-meta">Posted by#}
{#            <a href="#">Mo Salam</a>#}
{#            {{ post.created_on.date }}</p>#}
{#            {% endfor %}#}
{#        </div>#}
{#        <!--<hr>-->#}
{#        #}
{#        <!-- Pager #}
{#        <div class="clearfix">#}
{#          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>#}
{#        </div>-->#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
{#  <hr>#}
{#</section>#}
